body {
  margin: 0;
  padding: 0;
}

#app{
  width: 100%;
  height: 100%;
  display: block;
} 

.source-fab {
  display: block;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  padding: 0.75rem;
  border-radius: 50%;
  background-color: #f1f1f1;
  z-index: 999;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.source-fab img {
  display: block;
  width: 20px;
}

canvas {
  outline: none;
  display: block;
} 

.title {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 90vw;
  font-family: monospace;
  text-align: center;
}

.title a {
  color: #05f;
}

.title.white {
  color: white;
}
.title.white a {
  color: #0f0;
}

.btn-square-pop {
  padding: 0.6em 0.8em;
  text-decoration: none;
  color: #FFF;
  background: #6db1ff;/*背景色*/
  border-bottom: solid 2px #44a7f8;/*濃い目の色*/
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

.btn-square-pop_avatar {
  padding: 0.6em 0.8em;
  text-decoration: none;
  color: #FFF;
  background: #6db1ff;/*背景色*/
  border-bottom: solid 2px #44a7f8;/*濃い目の色*/
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

.btn-square-pop:active {
  border-bottom: solid 2px #359cfd;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

header{
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #d4d4d4
} 